[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt/
[submodule "cookbooks/python"]
	path = cookbooks/python
	url = https://github.com/opscode-cookbooks/python
[submodule "cookbooks/gunicorn"]
	path = cookbooks/gunicorn
	url = https://github.com/opscode-cookbooks/gunicorn
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "cookbooks/yum"]
	path = cookbooks/yum
	url = https://github.com/opscode-cookbooks/yum
